<div class="format-actions">
  <button class="format-action" [ngClass]="{'applied' : isApplied('bold')}" type="button" (click)="applyStyle('bold')"><b>B</b></button>
  <button class="format-action" [ngClass]="{'applied' : isApplied('italic')}" type="button" (click)="applyStyle('italic')"><i>I</i></button>
  <button class="format-action" [ngClass]="{'applied' : isApplied('underlined')}" type="button" (click)="applyStyle('underlined')"><u>U</u></button>
</div>
