<div class="file" (click)="clearSelection()">
  <span *ngFor="let word of words" (dblclick)="wordSelected($event)">
    {{word}}
  </span>
</div>
<div class="synonyms">
  <div *ngIf="synonyms.length !== 0">
    <div>
      <b>Synonyms:</b>
    </div>
    <div>
    <span *ngFor="let synonym of synonyms" (dblclick)="replaceWord($event)">
      {{synonym}},
    </span>
  </div>
  </div>
</div>

