:host {
  background-color: #f1f0f0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.file {
  margin-left: 20%;
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.synonyms{
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
  width: 15%;
}